@import url(https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css);body {
  background-image: url("/images/back.png");
  background-size: 300px 300px;
}

.vertical-center {
  min-height: 100%;
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

.vertical-center .loading {
  font-size: 5em;
  margin-bottom: 0.2em;
}

textarea {
  resize: vertical;
}

input[type="file"] {
  display: none;
}

.input-file {
  display: inline-block;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inline-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inline-text .btn-text {
  border: 1px solid #404040;
  border-radius: 0.2em;
  padding: 0.5em;
  margin: 0.7em;
  font-size: 0.6em;
}

.table {
  margin-bottom: 0 !important;
}

.table td {
  vertical-align: middle !important;
}

.table th {
  background-color: #e0e0e0 !important;
  border-color: #B1B1B1 !important;
}

.table .td-margin {
  width: 2em !important;
  border: none !important;
  background-color: white !important;
}

.navbar {
  background-color: #002F6C !important;
  border-bottom: 3px solid #EA7600 !important;
  margin-bottom: 2em !important;
}

.navbar-brand {
  padding: 0.25em !important;
}

.navbar-btn {
  color: white;
}

.navbar-btn.router-link-active,
.navbar-btn.router-link-exact-active {
  background-color: #007FC6;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-btn:hover {
  background-color: #B1B1B1;
  color: white;
}

.panel-title {
  font-size: 1.5em !important;
}

.panel-heading {
  background-color: #002F6C !important;
  color: white !important;
  font-weight: bold;
}

.panel-tabs {
  padding-bottom: 0 !important;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.panel-tabs .nav-tabs {
  border: 0 !important;
}

.panel-tabs a {
  background-color: transparent;
  color: white;
  border: 0 !important;
}

.panel-tabs a.router-link-active,
.panel-tabs a.router-link-exact-active {
  background-color: #e0e0e0 !important;
  color: #404040;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.panel-tabs a:hover {
  background-color: #007FC6 !important;
  color: white !important;
}

