// Variables
@import "variables";

// Bootstrap
@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css");

$naranjo: #EA7600;
$azul: #002F6C;
$celeste: #007FC6;
$gris: #B1B1B1;
$gris-claro: #e0e0e0;
$gris-oscuro: #404040;

body {
  background-image: url('/images/back.png');
  background-size: 300px 300px;
}

.vertical-center {
  min-height: 100%;
  min-height: 85vh;

  display: flex;
  align-items: center;
  background: transparent;

  .loading {
    font-size: 5em;
    margin-bottom:0.2em;
  }
}

textarea {
  resize: vertical;
}

input[type="file"] {
  display: none;
}

.input-file {
  display: inline-block;
}

.inline-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .btn-text {
    border: 1px solid $gris-oscuro;
    border-radius: 0.2em;
    padding: 0.5em;
    margin: 0.7em;
    font-size: 0.6em;
  }
}

.table {
  margin-bottom: 0 !important;

  td {
    vertical-align: middle !important;
  }

  td:nth-child(even) {
    border-left: 1px solid $gris-claro;
    border-right: 1px solid $gris-claro;
  }
  
  th {
    background-color: $gris-claro !important;
    border-color: $gris !important;
  }

  .td-margin {
    width: 2em !important;
    border: none !important;
    background-color: white !important;
  }
}

.navbar {
  background-color: $azul !important;
  border-bottom: 3px solid $naranjo !important;
  margin-bottom: 2em !important;

  &-brand {
    padding: 0.25em !important;
  }

  &-p {
    color: white;
    margin-top: 1.2em;
    margin-right: 0.6em;
  }

  &-btn {
    color: white;
    
    &.router-link-active,
    &.router-link-exact-active {
      background-color: $celeste;
      color: white;
      box-shadow: none;
    }
  }

  &-btn:hover {
    background-color: $gris;
    color: white;
  }
}

.panel {
  &-title {
    font-size: 1.5em !important;
  }

  &-heading {
    background-color: $azul !important;
    color: white !important;
    font-weight: bold;
  }

  &-body:nth-child(even) {
    background-color: #e0efff;
    border-top: 1px solid $gris-claro;
    border-bottom: 1px solid $gris-claro;
  }

  &-tabs {
    padding-bottom: 0 !important;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;

    .nav-tabs {
      border: 0 !important;
    }

    a {
      background-color: transparent;
      color: white;
      border: 0 !important;

      &.router-link-active,
      &.router-link-exact-active {
        background-color: $gris-claro !important;
        color: $gris-oscuro;
        box-shadow: none;
      }
    }
  
    a:hover {
      background-color: $celeste !important;
      color: white !important;
    }
  }
}